{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 110,
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
